.Error {
    color: var(--error-color);
    padding: 5px;
}
.Form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
}

.Form input, textarea{
    border-radius: 6px;
    padding: 10px;
    border: 1px solid var(--text-color);
}

.Button{
    border-radius: 6px;
    padding: 10px;
    font-weight: 700;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color);
    background: transparent;
    letter-spacing: 2px;
}

@media  (max-width: 500px) {
    .Form{
        width: 100%;

    }
  }